html{
    height:100%;
    width:100%;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190826/pngtree-abstract-metallic-blue-black-frame-layout-modern-tech-design-template-image_305020.jpg);
    background-size: cover;
}
/* .container{
    background-color: transparent;
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--LEsb8Hva--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/arasur0jjdbqabgl69xr.png);
} */

.navbar-expand-lg a{
    color:black;
    /* background-color:rgba(0, 0, 0, 0.116); */
}

.dropdown-menu,.nav-item a{
    background-color:transparent;
    color:white;
}

span.nav{
    color:white;
    font-size:120%;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size:90%; */
    
}

.nav:hover{
    font-size:150%;
}

.nav-item{
    margin-right: auto;
}
span.brand{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 130%;
}

span.FirstLetter{
    color:yellow;
}

.brand:hover{
    font-size:160%;
}

.navbar-nav{
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

button.btn{
    /* border-color: transparent; */
    /* background-color: transparent; */
    padding: 8px 14px;
    font-size:11px;
    border-radius:6px;
}